.appartments {
    background-color: $dark;
    position: relative;

    &::before {
        position: absolute;
        content: 'III';

        top: 0;
        right: calc(55% + 555px);
        transform: translate(69%, 0%);
        line-height: 1.15;
        opacity: 0.02;
        font-size: 400px;
        font-family: $font-accent;
        color: $white;

        @include desktop {
            transform: translate(121%, -6%);
        }
        @include laptop {
            right: calc(41% + 555px);
        }
    }

    &__title {
        
        margin-bottom: 88px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;

    }

    &__item {
        position: relative;
        display: inline-block;
        overflow: hidden;

        @include desktop {
            max-width: 465px;
        }
    }

    &__link-img {
        transition: 1.5s;

        &:hover {
            transform: scale(1.2);
        }

    }


    &__link-text {
        position: absolute;
        bottom: 44px;
        left: 52px;
        font-size: 24px;
        font-weight: 400;
        line-height: normal;

        @include tablets {
            font-size: 22px;
        }

        @include phones {
            font-size: 16px;
        }

    }


}