@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@100..900&family=Roboto:wght@300&display=swap');



.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

a,
p {
    color: #FFF;
    font-family: Raleway;
    font-weight: 400;
}



.title-2 {
    color: #D4C17F;
    font-family: "Playfair Display";
    font-size: 36px;
    font-weight: 700;
    line-height: normal;

    @include tablets {
        font-size: 30px !important;
        text-align: center;
    }

    @include phones {
        font-size: 26px !important;
    }
}

.btn {
    font-family:Raleway;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    height: 50px;
    min-width: 255px;
    padding: 12px;
    text-align: center;
    background-color: #D4C17F;
    transition: background-color 0.2s ease-in;


    &:active {
        transform: translateY(4px);
        transition: transform 0.5s;
    }

    &:hover {
        
        background-color:saturate(#D4C17F, 15%)
    }
}

.none {
    display: none;
}

.no-scroll {
    overflow-y: hidden;

}