//Fonts

$font-main: "Raleway", sans-serif;
$font-accent:  "Playfair Display", serif;
$font-secondary:  "Roboto", sans-serif;

//Colors

$white: #ffffff;
$accent: #D4C17F;
$dark: #242B33;
$footer-bg: #2D343C;